<html>
<head>
	<title>Repr</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/repr.hs"></script>
	<link rel="stylesheet" type="text/css" href="css/repr.css" />
</head>
<body>
	<div id="mineral_price">
		<%= erb :mineral_price %>
	</div>

	<div id="item_info">
		<%= erb :item_info %>
	</div>
</body>
</html>