body {
/*	background-image: url("/static/imgs/bg2.jpeg");*/
	background-position: center;
	width: 70%;
	margin-left: 15%;
	margin-top: 2%;
	color: #ffffff;
}

hr {
	border: none;
	margin: 0;
	border-bottom: 5px solid #101010;
}

div {
	background-color: #1D1D1D;
}
#mineral_price {
	float: left;
	width: 20%;	
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -5px;
	margin-top: 32px;
	border-radius: 20px 0 0 20px;
	background-color: #101010;
}

#mineral_price table {
	margin: 1px;
	width: 98%;
	border-radius: 18px 0 0 18px;
	background-color: #1D1D1D;
}

#mineral_price input {
	width: 50px;
}

h4 {
	margin: 0;
}

div.title {
	height: 20px;
	padding: 5px 10px 5px 20px; 
	text-align: left;
	background: #101010;
	background-image: url("/static/imgs/bgGradient.jpg");
	background-repeat: repeat-x;
}

div.title a {
	float:right;
}

#mineral_price table {
	padding: 5%;
}


#item_info {
	border: 5px solid #101010;
	width: 65%;
	float: left;
	height: 90%;
	border-radius: 10px;
	margin-bottom: 10px;
}


#item_info div.item {
	padding: 15px 30px;
}

#autocomplete {
	position: absolute;
	border: 5px solid #101010;
	border-top: none;
	display: none;
	z-index: 10;
	background-color: #fff;
	width: 33%;
	margin-left: 5%;
	color: #000;
}

#autocomplete ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#autocomplete ul li {
	padding: 5px 10px;
}

#autocomplete ul li:hover {
	color: #EA852E;
	background-color: #F2C486;
	border: 2px solid #EA852E;
	cursor: hand;
}

div#info {
	padding: 5%;
}

div#info table {
	width: 95%;
	border-bottom: 1px solid #101010;
	border-right: 1px solid #101010;
}

div#info table tr td {
	text-align: right;
	border-left: 1px solid #101010;
	border-top: 1px solid #101010;

}

div#info table tr td:first-child {
	text-align: center;	
	border: none;
	border-left: 1px solid #101010;
} 

div#info table tr:first-child td:first-child, div#info table thead tr td {
	color: #fff;
	text-align: center;
	background-color: #000;
	border:none;
	border-top: 1px solid #101010;
	background-image: url("/static/imgs/bgGradient.jpg");
	background-repeat: repeat-x;
}

div#info table tr:first-child td:first-child, div#info table thead tr td:nth-child(2) {
	border-left: 1px solid #101010;
}

div#info table tr th {
	border: none;
}


div#footer {
	opacity: 0.3;
	bottom: 5px;
	right: 5px;
	position: absolute;
	background-color: #fff;
	float:right;
}